# Sonarqube folders
.scannerwork/

# .env file
.env

# Docker volumes
sonarqube/

# Python virtual environments
.env/
.venv/
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Project specific
*.db
data/
alembic/versions/
